In [1]:
%matplotlib inline
import pandas as pd

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [61]:
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

In [64]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head(20)

                      title  year
0            The Rising Son  1990
1   The Thousand Plane Raid  1969
2          Crucea de piatra  1993
3                    The 86  2015
4                Gaiking II  2011
5               Medusa (IV)  2015
6           Cultural Menace  2004
7        Alex in Wonderland  1970
8            Women's Prison  1955
9    Do Outro Lado do Mundo  2008
10          Severny variant  1974
11            Charlie's Ear  1992
12     Insaaf Main Karoonga  1985
13                Hi, Buddy  1943
14          Los siete locos  1973
15               Panic Room  2002
16    Io sono un autarchico  1976
17   Shobhna's Seven Nights  2012
18               Mahapurush  1965
19                   Patria  1917

In [65]:
titles[titles.year == 1923]

                                  title  year
234                      Pioneer Trails  1923
243                       Crossed Wires  1923
461                   Wife in Name Only  1923
885                     The Love Letter  1923
888                      The Snow Bride  1923
935                        Orientfieber  1923
1290     Gulliver chez les Lilliputiens  1923
1361                         Lights Out  1923
1389                     The Lone Wagon  1923
1507                   The Sign of Four  1923
2735                             Trilby  1923
3142                   Whispering Palms  1923
3204                   King's Creek Law  1923
3934           The Audacious Mr. Squire  1923
4350          The Cricket on the Hearth  1923
4381                   Lucretia Lombard  1923
4433                         Die Lawine  1923
4925                          Dead Game  1923
5247                     Nobody's Money  1923
5270                    Young Lochinvar  1923
5473                      The Zero Hour  1923
6369                   Crashing Courage  1923
6497                  The Apache Dancer  1923
6766               The Woman Who Obeyed  1923
7504                   At Devil's Gorge  1923
7922                     Men in the Raw  1923
7938                 Castles in the Air  1923
8211                       Romance Land  1923
8542                  Smashing Barriers  1923
9570                       Hallig Hooge  1923
...                                 ...   ...
204606                       Smilin' On  1923
204762                  The Rum Runners  1923
205921                     Married Love  1923
206219                 Chlen parlamenta  1923
207847                       Armageddon  1923
207855           The Fair Maid of Perth  1923
208193                           Gossip  1923
208276         When the Kellys Were Out  1923
208418            One Million in Jewels  1923
208458                     Gold Madness  1923
208897              The Woman of Bronze  1923
209145         Cordelia the Magnificent  1923
209778          Il barbiere di Siviglia  1923
209897                  The Red Warning  1923
210062                    Crashin' Thru  1923
210950            How Troy Was Collared  1923
211162       Daarskab, dyd og driverter  1923
211180                    Burning Words  1923
211334          When Law Comes to Hades  1923
211346  Dundee-Criqui Boxing Exhibition  1923
211450               The Starlit Garden  1923
211578                    Racing Hearts  1923
212261  Don Quickshot of the Rio Grande  1923
212872                     The Old Fool  1923
213181           The Call of the Canyon  1923
213378                What Love Will Do  1923
213436        Broken Hearts of Broadway  1923
213843                  Thru the Flames  1923
214434                Stephen Steps Out  1923
214530                    Western Blood  1923

[717 rows x 2 columns]

In [62]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many movies are listed in the titles dataframe?

In [8]:
len(titles)

214931

### What are the earliest two films listed in the titles dataframe?

In [8]:
y=titles.sort('year').head(2)
y

                                                    title  year
164371                                         Miss Jerry  1894
85286   Reproduction of the Corbett and Fitzsimmons Fight  1897

### How many movies have the title "Hamlet"?

In [14]:
len(titles[titles['title']=="Hamlet"])

19

### How many movies are titled "North by Northwest"?

In [15]:
len(titles[titles['title']=="North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [32]:
titles[titles['title']=="Hamlet"].sort('year').head(1)['year']

43300    1910
Name: year, dtype: int64

In [ ]:
titles.

### List all of the "Treasure Island" movies from earliest to most recent.

In [34]:
titles[titles['title']=="Treasure Island"].sort('year')

                  title  year
190441  Treasure Island  1918
47510   Treasure Island  1920
191965  Treasure Island  1934
89749   Treasure Island  1950
82925   Treasure Island  1972
103161  Treasure Island  1973
189851  Treasure Island  1985
165855  Treasure Island  1999

### How many movies were made in the year 1950?

In [35]:
len(titles[titles['year']==1950])

1036

### How many movies were made in the year 1960?

In [36]:
len(titles[titles['year']==1960])

1459

### How many movies were made from 1950 through 1959?

In [37]:
len(titles[(titles['year']>=1950) & (titles['year']<=1959)])

12112

### In what years has a movie titled "Batman" been released?

In [38]:
titles[titles['title']=="Batman"].sort('year')

        title  year
69152  Batman  1943
51914  Batman  1989

### How many roles were there in the movie "Inception"?

In [40]:
len(cast[cast['title']=='Inception'])

73

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [41]:
len(cast[(cast['title']=='Inception') & (cast.n.isnull())])

22

### But how many roles in the movie "Inception" did receive an "n" value?

In [42]:
len(cast[(cast['title']=='Inception') & (cast.n.notnull())])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [44]:
cast[(cast['title']=='North by Northwest') & (cast.n.notnull())].sort('n')

,title,year,name,type,character,n
774494,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3088806,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1294350,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2780227,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
315739,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2688803,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1506762,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1132052,North by Northwest,1959,Martin Landau,actor,Leonard,8
2170705,North by Northwest,1959,Adam Williams,actor,Valerian,9
1609170,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
591475,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2036303,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
411778,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1340757,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
181207,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1229838,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [45]:
cast[(cast['title']=='Sleuth') & (cast.n.notnull())].sort('n')

,title,year,name,type,character,n
288866,Sleuth,2007,Michael Caine,actor,Andrew,1
1515573,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
288865,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
1148555,Sleuth,2007,Jude Law,actor,Milo,2
331163,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1604396,Sleuth,2007,Harold Pinter,actor,Man on T.V.,3
1301653,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2410046,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1286956,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [46]:
cast[(cast['title']=='Sleuth') & (cast.n.notnull())].sort('n', ascending=False)

,title,year,name,type,character,n
1286956,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6
2410046,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1301653,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
331163,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1604396,Sleuth,2007,Harold Pinter,actor,Man on T.V.,3
288865,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
1148555,Sleuth,2007,Jude Law,actor,Milo,2
288866,Sleuth,2007,Michael Caine,actor,Andrew,1
1515573,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1

In [ ]:
cast.sort()

### How many roles were credited in the silent 1921 version of Hamlet?

In [66]:
cast[(cast['title']=='Hamlet') & (cast.year==1921)]

          title  year                    name     type         character  n
6668     Hamlet  1921        Fritz Achterberg    actor       Fortinbras,  9
406430   Hamlet  1921            Paul Conradi    actor      K?nig Hamlet  2
493007   Hamlet  1921        Anton De Verdier    actor           Laertes  7
1010187  Hamlet  1921         Hans Junkermann    actor          Polonius  6
1939238  Hamlet  1921            Heinz Stieda    actor           Horatio  5
2106519  Hamlet  1921  Eduard von Winterstein    actor          Claudius  4
2358367  Hamlet  1921         Mathilde Brandt  actress  K?nigin Gertrude  3
2700297  Hamlet  1921          Lilly Jacobson  actress           Ophelia  8
2949713  Hamlet  1921            Asta Nielsen  actress            Hamlet  1

### How many roles were credited in Branagh’s 1996 Hamlet?

In [51]:
len(cast[(cast['title']=='Hamlet') & (cast.year==1996)])

55

### How many "Hamlet" roles have been listed in all film credits through history?

In [53]:
len(cast[(cast['title']=='Hamlet')])

299

### How many people have played an "Ophelia"?

In [54]:
len(cast[(cast['character']=='Ophelia')])

96

### How many people have played a role called "The Dude"?

In [57]:
cast[(cast['character']=='The Dude')]

,title,year,name,type,character,n
239779,The Big Lebowski,1998,Jeff Bridges,actor,The Dude,1
300161,Terms & Conditions,2015,Jordan Cann,actor,The Dude,9
442607,Stranger,2000,Scott Crowell,actor,The Dude,NaN
506446,Pizza Man vs. the Dude,2004,Chris DeMarcus,actor,The Dude,NaN
542395,Sweepstakes,1931,Mike Donlin,actor,The Dude,12
559205,Self Helpless,2010,Devin The Dude,actor,The Dude,NaN
970052,Jay and Silent Bob Strike Back,2001,Matthew (XIX) James,actor,The Dude,37
1013332,Explicit Ills,2008,Christopher Kadish,actor,The Dude,27
1214178,American Idiots,2013,Jason Loughridge,actor,The Dude,10
1231511,The Winds of Autumn,1976,Steve Lyons,actor,The Dude,16
1369758,Wild Oats Lane,1926,Jerry Miley,actor,The Dude,6
1585403,Oklahoma Badlands,1948,House Peters Jr.,actor,The Dude,13
1633521,Hacks,1997,Jason Priestley,actor,The Dude,11
1954238,Carlos Spills the Beans,2012,Bobby Styles,actor,The Dude,NaN
2071651,Zachariah,1971,Dick Van Patten,actor,The Dude,9
2145430,It Can Be Arranged,2010,Joel Weiss,actor,The Dude,NaN

### How many people have played a role called "The Stranger"?

In [56]:
len(cast[(cast['character']=='The Stranger')])

192

### How many roles has Sidney Poitier played throughout his career?

In [59]:
len(cast[(cast['name']=='Sidney Poitier')])

43

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?